/*
 * @Author: Alex chenzeyongjsj@163.com 
 * @Date: 2018-02-03 13:54:59 
 * @Last Modified by: Alex chenzeyongjsj@163.com
 * @Last Modified time: 2018-02-03 18:00:07
 */
/* base css start */
html,
body,
div,
span,
object,
li,
ul,
img,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
input,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font-family: arial, "微软雅黑", "宋体", "华文细黑", sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  font-family: arial, "微软雅黑", "宋体", "华文细黑", sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; */
}
li {
  list-style: none;
}
img {
  width: auto;
  height: auto;
  border-width: 0 0 0 0;
}
a {
  text-decoration: none;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
/* base css end */
.transi {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.abso {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.clear {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
[v-cloak] {
  display: none;
}
body {
  width: 100%;
  background: #e6e6e6;
  position: relative;
}
.public-wap {
  width: 100%;
  height: 100%;
  position: relative;
}
.header {
  width: 100%;
  height: 97px;
  background: #fff;
  position: relative;
}
.header .header-container {
  width: 1480px;
  margin: 0 auto;
}
.header .header-container::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.header .logo {
  min-width: 320px;
  padding-top: 26px;
}
.header .logo .logo-img {
  width: 194px;
  height: 42px;
  margin-right: 20px;
}
.header .logo .logo-text {
  color: #000;
  font-size: 16px;
}
.header .search {
  width: 234px;
  height: 36px;
  position: relative;
  top: 31px;
}
.header .search .el-input {
  width: 100%;
  height: 100%;
}
.header .search .el-input input {
  height: 100%;
  padding-right: 40px;
}
.header .search .el-icon-search {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  color: #d3d3d3;
  cursor: pointer;
}
.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner .el-carousel__container {
  height: 100%;
}
.banner .el-carousel {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.filter {
  width: 100%;
  height: 120px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.filter .filter-top {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d3d3d3;
}
.filter .filter-top ul {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.filter .filter-top ul::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.filter .filter-top ul li {
  margin-right: 43px;
  line-height: 60px;
  cursor: pointer;
  color: #666;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.filter .filter-top ul li:hover {
  color: #d74b4f;
}
.filter .filter-top ul li:last-of-type {
  margin-right: 0;
}
.filter .filter-top ul .li-active {
  color: #d74b4f;
}
.filter .filter-bottom {
  width: 100%;
  height: 60px;
  position: relative;
}
.filter .filter-bottom .filter-center {
  width: 425px;
  margin: 0 auto;
  margin-top: 16px;
}
.filter .filter-bottom .filter-center .el-select {
  width: 200px;
  height: 28px;
  margin-right: 20px;
}
.filter .filter-bottom .filter-center .el-select:last-of-type {
  margin-right: 0;
}
.filter .filter-bottom .filter-center .el-select input {
  height: 28px;
}
.filter .filter-container {
  width: 1480px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper {
  width: 1480px;
  margin: 70px auto;
  position: relative;
}
.wrapper > ul {
  width: 100%;
}
.wrapper > ul::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.wrapper > ul > li {
  width: 276.5px;
  height: 298px;
  overflow: hidden;
  margin-right: 24px;
  margin-bottom: 24px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper > ul > li:hover {
  border: 1px solid #d3d3d3;
}
.wrapper > ul > li:hover .info {
  background: #fff;
}
.wrapper > ul > li:hover .info .author .float-right {
  opacity: 1;
}
.wrapper > ul > li:nth-child(5n) {
  margin-right: 0;
}
.wrapper > ul > li .img-container {
  width: 100%;
  height: 203px;
  overflow: hidden;
  position: relative;
}
.wrapper > ul > li .img-container .imgs {
  min-width: 100%;
  min-height: 100%;
}
.wrapper > ul > li .img-container .img-width {
  width: 100%;
}
.wrapper > ul > li .img-container .img-height {
  height: 100%;
}
.wrapper > ul > li .info {
  width: 100%;
  height: 95px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper > ul > li .info .title {
  padding: 0 8px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #666;
  border-bottom: 1px solid #d3d3d3;
  font-size: 14px;
}
.wrapper > ul > li .info .author {
  padding: 0 8px;
}
.wrapper > ul > li .info .author::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.wrapper > ul > li .info .author span {
  font-size: 14px;
  color: #666;
  display: block;
  line-height: 25px;
  margin-top: 14px;
}
.wrapper > ul > li .info .author .float-right {
  opacity: 0;
  width: 93px;
  height: 25px;
  background: #d74b4f;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .paging {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wrapper .paging .el-dialog,
.wrapper .paging .el-pager li {
  background: transparent;
}
.wrapper .paging button {
  background-color: transparent !important;
}
.footer {
  width: 100%;
  height: 76px;
  background: #000;
}
.footer .footer-container {
  width: 1480px;
  margin: 0 auto;
}
.footer .footer-container .footer-info {
  font-size: 14px;
  color: #8b8b8b;
  line-height: 76px;
}
#upload .header {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#upload .upload-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#upload .upload-title > p {
  font-size: 24px;
  line-height: 97px;
  color: #d74b4f;
}
#upload .wrapper {
  width: 1200px;
  padding: 40px;
  margin-top: 50px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#upload .wrapper .line {
  border-bottom: 1px dashed #d3d3d3;
  margin-bottom: 40px;
  margin-top: 40px;
}
#upload .wrapper .item-text {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}
#upload .wrapper .form-control-btn button {
  padding: 10px 40px;
}
#upload .wrapper .form-control-btn button:hover {
  background: #e2797d;
  border-color: #e2797d;
  color: #fff;
}
@media screen and (max-width: 1479px) {
  .header .header-container {
    width: 1200px;
  }
  .filter .filter-container {
    width: 1200px;
  }
  .wrapper {
    width: 1200px;
  }
  .wrapper > ul > li {
    width: 220.5px;
    height: 237px;
  }
  .wrapper > ul > li .img-container {
    height: 162px;
  }
  .wrapper > ul > li .info {
    height: 73px;
  }
  .wrapper > ul > li .info .title {
    height: 30px;
    line-height: 30px;
  }
  .wrapper > ul > li .info .author span {
    margin-top: 9px;
  }
  .footer .footer-container {
    width: 1200px;
  }
}
