<!DOCTYPE html>
<html>

<head lang="zh-CN">
    <title>藏品管理系统-中国美术学院</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/element.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
        /*判断浏览器版本是否过低*/
        function IETester(userAgent) {
            var UA = userAgent || navigator.userAgent;
            if (/msie/i.test(UA)) {
                return UA.match(/msie (\d+\.\d+)/i)[1];
            } else if (~UA.toLowerCase().indexOf('trident') && ~UA.indexOf('rv')) {
                return UA.match(/rv:(\d+\.\d+)/)[1];
            }
            return false;
        }
        //不传参数返回当前IE版本，如果不是IE内核浏览器，返回false
        if (IETester() == 9.0) {
            //window.location.href = 'iepoint/index.html';
        } else if (IETester() == 8.0 || IETester() == 7.0 || IETester() == 6.0 || IETester() == 5.0) {
            window.location.href = 'iepoint/index.html';
        }
        // 手机端页面跳转
        var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        if (cw < 769) {
            window.location.href = './mobile/index.html';
        }
    </script>
</head>

<body>
    <div id="index" class="public-wap">
        <!-- Header -->
        <div class="header">
            <div class="header-container">
                <div class="logo float-left">
                    <a href="index.html">
                        <img src="./images/logo.png" alt="logo" class="logo-img float-left">
                        <div class="logo-text float-left">
                            <p>设计艺术学院</p>
                            <p>藏品管理系统</p>
                        </div>
                    </a>
                </div>
                <div class="upload float-right">
                    <i class="iconfont icon-shangchuan float-left"></i>
                    <a href="upload.html" class="float-right">藏品上传</a>
                </div>
                <div class="search float-right">
                    <el-input placeholder="请输入关键字" v-model="search_value" class="" @keyup.enter.native="propSearch()"></el-input>
                    <i class="el-icon-search" @click="propSearch()"></i>
                </div>
            </div>
        </div>
        <!-- Banner -->
        <div class="banner">
            <el-carousel trigger="click" :style="{height:slide_height}">
                <el-carousel-item v-for="item in slideList" :key="item.id">
                    <a :href="item.slide_img_url">
                        <img :src="item.slide_img" :style="{width:'100%',height:slide_height}">
                    </a>
                </el-carousel-item>
            </el-carousel>
        </div>
        <!-- 筛选 -->
        <div class="filter">
            <div class="filter-top">
                <div class="filter-container">
                    <ul>
                        <li v-for="(item,index) in filterList" :key="item.id" @click="filter_data(item.filter_name,index)" class="float-left" :class="{'li-active':item.filter_active}">{{item.filter_name}}</li>
                    </ul>
                </div>
            </div>
            <div class="filter-bottom">
                <div class="filter-container">
                    <div class="filter-center">
                        <el-select v-model="filters.departmentValue" placeholder="所属系别" clearable @change="selectChange()">
                            <el-option v-for="item in departmentList" :key="item.id" :label="item.department_name" :value="item.department_name" :disabled="item.disabled">
                            </el-option>
                        </el-select>
                        <el-select v-model="filters.dateListValue" placeholder="创作时间" clearable @change="selectChange()">
                            <el-option v-for="item in dateList" :key="item.id" :label="item.date_name" :value="item.date_name" :disabled="item.disabled">
                            </el-option>
                        </el-select>
                    </div>
                </div>
            </div>
        </div>
        <!-- 页面主体 -->
        <div class="wrapper">
            <ul>
                <li v-for="item in collectionList" :key="item.id" class="float-left">
                    <a :href="item.url">
                        <div class="img-container">
                            <img :src="item.imgUrl" alt="img" class="imgs" :class="item.proportion?'img-height':'img-width'">
                        </div>
                        <div class="info">
                            <p class="title">{{item.title}}</p>
                            <div class="author">
                                <span class="float-left">{{item.author}}</span>
                                <span class="float-right">{{item.department}}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- 分页 -->
            <el-pagination class="paging" @current-change="handleCurrentChange" :current-page.sync="filters.currentPage" :page-size="currentTotal.pageSize"
                layout="prev, pager, next, jumper" :total="currentTotal.total">
            </el-pagination>
        </div>
        <!-- Footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-info float-left">
                    <p>© CopyRight 2017-{{this_year}}, 中国美术学院设计艺术学院, Inc.All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/element.min.js"></script>
<script>
    var app = new Vue({
        el: '#index',
        data: {
            this_year: new Date().getFullYear(), //当前年份
            slideList: [], //轮播列表
            slide_height: 0, //轮播高度
            screen_width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth, //页面可视区域宽度
            search_value: '',
            filterList: [], //筛选
            departmentList: [], //所属系别
            dateList: [], //创作时间
            collectionList: [], //藏品列表
            currentTotal: 0, //分页
            /* ajax数据 */
            filters: {
                currentPage: 1, //分页
                pageSize: 15, //显示条数
                departmentValue: '', //所属系别
                dateListValue: '', //创作时间
                filterValue: '', //筛选类别
            }
        },
        mounted: function () {
            var that = this;
            window.onresize = function () {
                // 手机端页面跳转
                var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (cw < 769) {
                    window.location.href = './mobile/index.html';
                }
                //轮播宽高设置
                that.screen_width = window.innerWidth || document.documentElement.clientWidth ||
                    document.body.clientWidth;
                that.slide_height = (that.screen_width / 1920 * 500) + 'px'; //设置轮播元素高度
            }
            //获取轮播数据
            function getSlide() {
                return axios.get('./mock/slide.json');
            }
            //获取展示数据
            function getCollectionList() {
                return axios.get('./mock/collection.json');
            }
            //获取筛选数据
            function getFilterList() {
                return axios.get('./mock/filter.json');
            }
            //获取所属系别
            function getDepartmentList() {
                return axios.get('./mock/departmentList.json');
            }
            //获取创作时间
            function getDateList() {
                return axios.get('./mock/dateList.json');
            }
            //获取分页数据
            function getCurrentPage() {
                return axios.get('./mock/currentPage.json');
            }
            //ajax并发
            axios.all([getSlide(), getCollectionList(), getFilterList(), getDepartmentList(), getDateList(),
                    getCurrentPage()
                ])
                .then(axios.spread(function (slide, collection, filterList, departmentList, dateList,
                    currentPage) {
                    // 请求现在都执行完成
                    that.slideList = slide.data; //设置轮播
                    that.slide_height = (that.screen_width / 1920 * 500) + 'px'; //设置轮播元素高度
                    that.filterList = filterList.data; //设置筛选
                    that.departmentList = departmentList.data; //设置所属系别
                    that.dateList = dateList.data; //设置创作时间
                    that.currentTotal = currentPage.data; //设置分页
                    // 藏品列表数据
                    that.collectionList = collection.data;
                    window.onload = function () {
                        //判断图片高宽比 以等比例缩放
                        that.img_set(that.collectionList);
                    }
                }));
        },
        methods: {
            propSearch: function () {
                sessionStorage.setItem('search_keyword', this.search_value);
                window.location.href = './search.html';
            },
            filter_data(val, idx) {
                var that = this;
                /* 控制筛选项的active */
                for (var k = 0; k < that.filterList.length; k++) {
                    that.filterList[k].filter_active = false;
                }
                that.filterList[idx].filter_active = true;
                /* 设置筛选项value */
                that.filters.filterValue = val;
                //重置分页为第一页
                this.filters.currentPage = 1;
                //ajax
                this.sendAjax();
            },
            //图片高宽不确定的情况下等比例缩放
            img_set: function (imgs) {
                var that = this;
                for (var i = 0; i < imgs.length; i++) {
                    var image = new Image();
                    image.src = imgs[i].imgUrl;
                    if (image.width > image.height) {
                        that.collectionList[i].proportion = true;
                    } else {
                        that.collectionList[i].proportion = false;
                    }
                }
            },
            //分页
            handleCurrentChange(val) {
                //ajax
                this.sendAjax();
            },
            //select
            selectChange: function () {
                //重置分页为第一页
                this.filters.currentPage = 1;
                //ajax
                this.sendAjax();
            },
            //ajax
            sendAjax: function () {
                var that = this;
                axios({
                    method: "get", //需要把get改成post
                    url: './mock/collection.json',
                    data: {
                        filter: that.filters.filterValue, //当前筛选项
                        department: that.filters.departmentValue, //所属系别
                        date: that.filters.dateListValue, //创作时间
                        currentPage: that.filters.currentPage, //当前页码
                        pageSize: that.filters.pageSize, //一页显示几条
                    },
                    //格式化
                    transformRequest: [
                        function (data) {
                            var ret = "";
                            for (var i = 0; i < data.length; i++) {
                                ret +=
                                    encodeURIComponent(it) +
                                    "=" +
                                    encodeURIComponent(data[it]) +
                                    "&";
                            }
                            ret = ret.slice(0, -1); // 去掉最后的空行
                            return ret;
                        }
                    ],
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then(function (res) {
                    that.collectionList = res.data;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        },
    })
</script>
</html>