<!DOCTYPE html>
<html>

<head lang="zh-CN">
    <title>藏品上传-中国美术学院</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/element.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
        // 动态设置font-size
        var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        document.getElementsByTagName("html")[0].style.fontSize = 20 * (cw / 375) + 'px';
    </script>
</head>

<body>
    <div id="info">
        <!-- Header -->
        <div class="header">
            <div class="header-shadow"></div>
            <div class="header-container">
                <div class="logo float-left">
                    <a href="index.html">
                        <img src="./images/logo.png" alt="logo" class="logo-img float-left">
                        <div class="logo-text float-left">
                            <p>设计艺术学院藏品管理系统</p>
                        </div>
                    </a>
                </div>
                <div class="header-menu float-right" @click="menu_control()">
                    <i class="iconfont icon-menu" :style="menuControl?'display:block':'display:none'"></i>
                    <i class="iconfont icon-mobileclose" :style="!menuControl?'display:block':'display:none'"></i>
                </div>
            </div>
            <!-- Header Menu -->
            <div class="menu-container" :class="{'menu-active':!menuControl}">
                <!-- 搜索 -->
                <div class="search">
                    <input placeholder="请输入关键字" v-model="search_value"></input>
                    <i class="iconfont icon-search"></i>
                </div>
            </div>
        </div>
        <!-- 页面主体 -->
        <div class="wrapper">
            <!-- 藏品详情 -->
            <div class="details">
                <div class="detail-header">
                    <div class="title float-left">{{collection_detail.title}}</div>
                    <div class="state float-right">{{collection_detail.collectionState}}</div>
                </div>
                <div class="detail-body">
                    <img v-for="item in collection_detail.collectionList" :src="item.imgUrl" alt="img" class="detail-img">
                </div>
                <div class="detail-info">
                    <ul>
                        <li class="float-left">
                            <span>作者：{{collection_detail.author}}</span>
                        </li>
                        <li class="float-right">
                            <span>创作时间：{{collection_detail.creationTime}}</span>
                        </li>
                        <li class="float-left">
                            <span>所属院系：{{collection_detail.department}}</span>
                        </li>
                        <li class="float-right">
                            <span>藏品类别：{{collection_detail.collectionType}}</span>
                        </li>
                        <li class="float-left">
                            <span>藏品编号：{{collection_detail.collectionNumber}}</span>
                        </li>
                    </ul>
                </div>
                <div class="detail-info">
                    <div class="detail-title">
                        <p>藏品简介</p>
                    </div>
                    <div class="collection-introduce" v-html="collection_detail.collectionIntroduce"></div>
                </div>
            </div>
            <!-- 藏品外借form -->
            <div id="borrow">
                <div class="borrow-title">
                    <p>藏品外借申请</p>
                </div>
                <el-form ref="form" :model="collection_borrow" :rules="rules" status-icon label-width="25%" size="mini" label-position="right">
                    <el-form-item label="申请人：" prop="per">
                        <el-input v-model="collection_borrow.per"></el-input>
                    </el-form-item>
                    <el-form-item label="联系方式：" prop="tel">
                        <el-input v-model="collection_borrow.tel"></el-input>
                    </el-form-item>
                    <!-- <el-form-item label="藏品图片：">
                        <el-upload action="https://jsonplaceholder.typicode.com/posts/" multiple list-type="picture-card" :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove" :before-upload="beforeAvatarUpload" :on-success="uploadSuccess" :on-error="uploadError">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                    </el-form-item> -->
                    <el-form-item class="form-control-btn">
                        <el-button type="primary" @click="submitForm('form')" size="mini" :loading="subLoading">提交</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/element.min.js"></script>
<script>
    var app = new Vue({
        el: '#info',
        data: {
            //菜单控制
            menuControl: true,
            search_value: '',
            //内容信息
            collection_detail: {},
            //藏品外借
            subLoading: false,
            collection_borrow: {
                per: '',
                tel: ''
            },
            //表单验证
            rules: {
                title: [{
                    required: true,
                    message: "请输入藏品名称",
                    trigger: "blur"
                }],
                tel: [{
                    required: true,
                    message: "请输入联系电话",
                    trigger: "blur"
                }],
            },
        },
        mounted: function () {
            var that = this;
            window.onresize = function () {
                // pc页面跳转
                var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (cw > 768) {
                    window.location.href = '../info.html';
                }
            }
            //获取藏品详情
            function getCollectionDetail() {
                return axios.get('./mock/collectionDetail.json');
            }
            //ajax并发
            axios.all([getCollectionDetail()])
                .then(axios.spread(function (collectionDetail) {
                    // 藏品详情
                    that.collection_detail = collectionDetail.data;
                }));
        },
        methods: {
            propSearch: function () {
                sessionStorage.setItem('search_keyword', this.search_value);
                window.location.href = './search.html';
            },
            //菜单控制
            menu_control: function () {
                this.menuControl = !this.menuControl;
            },
        },
    })
</script>

</html>